auto-save-list/
elpa/
transient/
eln-cache/
.mc-lists.el
.smex-items
.last-package-update-day
.cider-history
ido.last
recentf
tramp
projectile-bookmarks.eld
places
projects
.cask/
straight/
*~
devdocs/
tldr/
.cache/
flycheck_init.el
history
.lsp-session-v1
eclipse.jdt.ls/
share/
.dap-breakpoints
workspace/
projectile.cache
image-dired/
tutorial/
tree-sitter/
url/
eglot-java-eclipse-jdt-cache/
