@import url("./dracula.css");

* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

window#waybar {
  border-radius: 10px;
  border: 2px solid @purple;
  background: @background-darker;
  color: @foreground;
}

tooltip {
  background: @background-darker;
  border-radius: 24px;
  border: 1px solid @purple;
}

tooltip label {
  color: @cyan;
}

#window {
  margin-left: 4px;
}

#sys-window {
  margin: 6px 4px 6px 12px;
  color: @pink;
  transition: color 0.2s ease-in-out;
}

#workspaces button {
  margin: 6px 4px;
  border-radius: 10px;
  border: 2px solid @cyan;
  background: @background-darker;
  color: @cyan;
}

#workspaces button.focused,
#workspaces button.active {
  color: @pink;
  border-color: @pink;
}

#workspaces button.urgent {
  color: @red;
  border-color: @red;
}

#workspaces button:hover,
#workspaces button:hover.focused,
#workspaces button:hover.active,
#workspaces button:hover.urgent {
  color: @yellow;
  border-color: @yellow;
}

#custom-spotify,
#cava,
#idle_inhibitor,
#cpu-temp,
#memory,
#disk,
#network,
#pulseaudio,
#language,
#custom-weather,
#clock {
  margin: 6px 4px;
  color: @pink;
  transition: color 0.2s ease-in-out;
}

#sys-window:hover,
#custom-spotify:hover,
#cava:hover,
#idle_inhibitor:hover,
#cpu-temp:hover,
#memory:hover,
#disk:hover,
#network:hover,
#pulseaudio:hover,
#language:hover,
#custom-weather:hover,
#clock:hover {
  color: @yellow;
}

#temperature {
  margin-left: 8px;
}

#clock {
  margin-right: 12px;
}

#cpu.warning,
#memory.warning {
  color: @orange;
}

#cpu.critical,
#temperature.critical,
#memory.critical {
  color: @red;
}

#custom-separator {
  color: @cyan;
  margin: 6px 4px;
}
