[Unit]
Description=Set wallpaper image
After=hyprpaper.service
Wants=hyprpaper.service

[Service]
Type=oneshot
ExecStart=%E/hypr/scripts/set-random-wallpaper.sh
