[Unit]
Description=Set wallpaper image
After=hyprpaper.service
Wants=hyprpaper.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -n %T/wallpaper.service.lock -c '%h/.local/bin/bgctl -n'
